<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="nav-container">
            <a class="navbar-brand" href="/">Naimat 🌱</a>
            <div class="nav-menu">
                <ul class="nav nav-pills">
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Introduction</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Architecture">Architecture</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="AzureServices">Azure Services</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="container">
            &copy; 2025 - o224237
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>